@import "tailwindcss";

:root {
  /* Base Palette */
  --color-brand-primary: #0F6CBD;
  --color-brand-secondary: #0C5BB0;
  --color-brand-dark: #094C92;
  --color-surface-light-blue: #E7F1FB;
  --color-surface-ghost-white: #F7F9FB;
  --color-surface-dark: #050506;
  --color-black: #000000;
  --color-white: #FFFFFF;

  /* Light Mode Semantic Mapping */
  --background: var(--color-surface-ghost-white);
  --foreground: var(--color-surface-dark);
  --muted: var(--color-white);
  --accent: var(--color-surface-light-blue);
  --primary: var(--color-brand-primary);
  --primary-hover: var(--color-brand-secondary);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-accent: var(--accent);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);

  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Mode Semantic Mapping */
    --background: var(--color-surface-dark);
    --foreground: var(--color-white);
    --muted: var(--color-black);
    --accent: var(--color-brand-dark);
    --primary: var(--color-brand-primary);
    --primary-hover: var(--color-brand-secondary);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}